<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:name=".ProbeApplication" android:label="UAC Push Test"
        android:allowBackup="false" android:fullBackupContent="@xml/probe_backup_rules"
        android:dataExtractionRules="@xml/probe_data_extraction_rules" android:usesCleartextTraffic="false"
        android:icon="@drawable/ic_stat_probe" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <provider android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider" tools:node="remove" />
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_installation_id_enabled" android:value="true" />
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false" />
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
        <meta-data android:name="firebase_data_collection_default_enabled" android:value="false" />
        <meta-data android:name="delivery_metrics_exported_to_big_query_enabled" android:value="false" />
        <meta-data android:name="firebase_messaging_notification_delegation_enabled" android:value="false" />
        <service android:name=".ProbeMessagingService" android:exported="false">
            <intent-filter><action android:name="com.google.firebase.MESSAGING_EVENT" /></intent-filter>
        </service>
        <activity android:name=".ProbeActivity" android:exported="true" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
